* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #000000;
  font-family: fantasy;
  font-weight: 300;
  color: #fff;
  letter-spacing: .1rem;
}

a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 25px;
  font-style: fantasy;
}

a:hover{
  color: grey;
}

.nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  mix-blend-mode: difference;
  color: #0000;
}

.header {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-around;
}

.text {
  position: relative;
  width: max-content;
  height: max-content;
  padding: 10px;
}

.text p {
  position: relative;
  font-size: 18px;
}

.text-revealer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.text-revealer:after {
  content: "";
  position: absolute;
  top: 40px;
  width: 100%;
  height: 100%;
  background: #e3e3e3;
}

.gallery {
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;
}

.img {
  width: 75px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  margin: 20px;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
